@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none !important;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

:root {
    --header_top_color: #232323;
    --top_icon: #fff;
    --top_hover: #d60201;
    --nav_color: #232323;
}

.header-top {
    background: #232323;
}

.header-top .ht-left {
    display: flex;
    align-items: center;
    height: 59px;
}

.header-top .ht-left ul {
    display: flex;
    align-items: center;
}

.header-top .ht-left ul li a {
    width: 35.38px;
    height: 35.38px;
    background: #fff;
    border-radius: 24px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .ht-left ul li a:hover {
    background: var(--top_hover);
    transition: 400ms all;
}

.header-top .ht-left ul li a i {
    color: #000;
    font-size: 12px;
}

.header-top .ht-left ul li a:hover i {
    color: #fff;
}

.ht-right {
    display: flex;
    align-items: center;
}

.header-main {
    height: 107px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
}

.ht-right label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}

.ht-right label img {
    margin-right: 5px;
    margin-left: 27px;
}

.ht-right select {
    background: transparent;
    border: none;
    color: #FFF;
    background: #232323;
    padding: 5px;
}

.header-main nav {
    display: flex;
    align-items: center;
    margin-left: 88px;
}

.header-main nav ul {
    display: flex;
    align-items: center;
}

.header-main nav ul li .nav-link i {
    margin-right: 8px;
}

.header-main nav ul li .nav-link {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    color: var(--nav_color);
}

.header-main nav ul li .nav-link.active {
    color: #d60201;
    font-weight: 700;
}

.header-main nav ul {
    position: relative;
}

.header-main nav ul li {
    position: relative;
}

.header-main nav ul li.active-li:after {
    width: 35px;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    display: block;
    background: #d60201;
    content: "";
    bottom: 0;
    left: 50px;
}

.header-main .hm-container {
    position: relative;
}

.header-main .blog-open:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 55px;
}


.header-main .blog-open .dropdown {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 10000 !important;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-in-out;
}


.header-main .dropdown ul {
    display: flex;
    width: 249px;
    background: #ffffff;
    padding-top: 22px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 5px 5px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    border-top: 3px solid #d60201;
    border-radius: 0px 0px 5px 5px;
}

.header-main .dropdown ul li {
    margin-bottom: 14px;
}

.header-main .dropdown ul li a {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 102%;
    color: #1d1d1d;
    transition: 300ms all;
}

.header-main .dropdown ul li a:hover {
    color: #d60201;
}


.footer {
    padding-bottom: 90px;
    padding-top: 95px;
    background-repeat: no-repeat !important;
    position: relative;
    background: url(../img/mosque-g29a32dccd_1280\ 5.png);
}

.form-col{
    position: relative;
}

.form-col::after{
content:"";
position: absolute;
z-index: -1;
top: -70px;
right: 30px;
width: 139px;
height: 142px;
background-repeat: no-repeat !important;
background: url(../img/abs.png);
}

.ft-end {
    width: 100%;
    background: #232323;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-left .footer-link ul {
    display: flex;
}

.footer-left p {
    margin-top: 14px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 16.5546px;
    line-height: 102%;
    width: 376px;
    color: #767676;
    margin-bottom: 29px;
}

.footer-left .footer-link ul li a {
    width: 44px;
    height: 44px;
    background: #232323;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    transition: 300ms all;
}

.footer-left .footer-link ul li a:hover {
    background: #d60201;
}

.footer-left .footer-link ul li a i {
    color: #fff;
    font-size: 11px;
}

.footer ul span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 102%;
    margin-bottom: 20px;
    display: block;
    color: #000000;
}

.footer-nav ul li {
    margin-bottom: 14px;
}

.footer-nav ul li a {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 15.5546px;
    line-height: 102%;
    color: #767676;
}

.footer form ul li.inp {
    display: flex;
    align-items: center;
}

.footer form ul li.inp input {
    height: 62px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 10px;
    width: 290px;
    padding-left: 24px;
}

.footer form ul li.inp input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 102%;
    color: #d0d0d0;
}

.footer form ul li.inp button {
    width: 120px;
    height: 62px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 102%;
    margin-left: -20px;
    color: #ffffff;
    background: #d60201;
    border-radius: 10px;
    border: none;
}

.footer-bottom {
    text-align: center;
    height: 61px;
    line-height: 61px;
    background: #232323;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

#slider-area {
    max-width: 1100px;
    margin-top: 22px;
    padding-top: 17px;
    background: #FFFFFF;
    box-shadow: 0px 3.72327px 18.6164px rgba(0, 0, 0, 0.15);
    border-radius: 18.6164px;
    padding-bottom: 19px;
    position: relative;
    border-radius: 16px;
    padding-left: 80px;
    padding-right: 80px;
}

#slider-area .swiper-button-next {
    background: url('../img/chevron-down\ \(1\).png');
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 30px !important;
}

#slider-area .swiper-button-next:after {
    display: none;
}


#slider-area .swiper-button-prev {
    background: url(../img/chevron-down.png);
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 30px !important;
}

#slider-area .swiper-button-prev::after {
    display: none;
}

#slider-area::after {
    background: linear-gradient(to right, red, #000);
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: '';
    z-index: -1;
    border-radius: 18px;
}

#slider-area .swiper {
    border-radius: 18.6164px;
}

#slider-area .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider-area .swiper-slide img {
    padding: 7px;
}

.border-user {
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #D60201, #000);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#banner-area {
    margin-top: 23px;
}

#banner-area .swiper-slide .banner-img {
    width: 100%;
    position: relative;
}

#banner-area .swiper-slide .banner-img::before {
    width: 100%;
    height: 100vh;
    position: absolute;
    content: "";
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.55);
}

#banner-area .swiper-slide .banner-img img {
    width: 100%;
    object-fit: contain;
}

#banner-area .swiper-button-prev {
    background: url(../img/Group\ 230.png);
    content: "";
    height: 55px;
    width: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 120px !important;
}

#banner-area .swiper-button-next {
    background: url(../img/Group\ 231.png);
    content: "";
    height: 55px;
    width: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 120px !important;
}

#banner-area .swiper-button-prev::after {
    display: none;
}

#banner-area .swiper-button-next::after {
    display: none;
}

#banner-area .swiper-pagination-bullet {
    background: #FFFFFF;
    border-radius: 28.9115px;
    width: 62.41px;
    height: 3.5px;
}

#video-area {
    padding-top: 96px;
}

.global-btn {
    width: 191px;
    height: 57px;
    background: #D60201;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 102%;
    z-index: 100;
    position: relative;
}

.global-btn a {
    color: #FFFFFF;
}

.global-btn::after {
    position: absolute;
    bottom: 0px;
    border-top-right-radius: 6.4px;
    border-bottom-right-radius: 5px;
    right: 0;
    clip-path: polygon(50% 48%, 100% 0%, 100% 100%, 0% 100%);
    background: #000;
    width: 130px;
    height: 57px;
    z-index: -1;
    content: "";
}

.v-left h3 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 102%;
    color: #232323;
    margin-bottom: 30px;
}

.v-left p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 102%;
    color: #919191;
    margin-bottom: 93px;
}


.video-item .video-dec {
    background: #FFFFFF;
    border: 1.75546px solid #ECECEC;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 44px;
    padding-left: 23px;
    padding-right: 20px;
}

.video-item .video-dec p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 102%;
    margin-bottom: 27px;
    color: #313030;
}

.video-item .video-dec a {
    width: 129.03px;
    height: 47.4px;
    background: #D60201;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 102%;
    color: #FFFFFF;
    border-radius: 39.4978px;
    transition: 400ms all;
}

.video-item .video-dec a:hover {
    background: transparent;
    border: 1px solid #D60201;
    color: #000;
}

.vide-slider .video-item {
    width: 420px;
    position: relative;
}

.vide-slider .video-item .img {
    border-radius: 4.38865px;
    background: url(../img/quran-g4877b9a3b_1920.png);
    width: 100%;
    height: 273px;
    position: relative;
}

.vide-slider .video-item .img::after{
    position: absolute;
    top:0;
    content:"";
    width: 100%;
    height: 273px;
background: rgba(0, 0, 0, 0.55);
border-radius: 4.38865px;
}
 .video-item .img2{
    background: url(../img/quran-gc7ced0b95_1920.png) !important;
}

.video-item .img3{
    background: url(../img/mosque-gea6280b64_1920.png) !important;
}

.video-item .img4{
    background: url(../img/quran-gc7ced0b95_1920.png) !important;
}

.video-item .img5{
    background: url(../img/mosque-gea6280b64_1920.png) !important;
}

.video-item .img6{
    background: url(../img/mosque-gea6280b64_1920.png) !important;
}

#video-area {
    position: relative;
}

#video-area {
visibility: visible;
opacity: 1;
}

.video-item:hover .icon-hover{
    opacity: 1;
    visibility: visible;
}

.icon-hover{
    position: absolute;
    top:90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
height: 95px;
transition: 400ms all;
border-radius: 50%;
background: rgba(0, 0, 0, 0.6);
visibility: hidden;
opacity: 0;
}

.icon-hover i{
    color:#fff;
    font-size: 42px;
}

#video-area::before {
    background: url(../img/building-g4f08f02ac_1280\ 1.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 41px;
    content: "";
}

.vide-slider .swiper-button-next {
    background: url('../img/chevron-down\ \(1\).png');
    content: "";
    height: 55px;
    width: 55px;
    background-size: cover;
    background-repeat: no-repeat;
}

.vide-slider .swiper-button-prev {
    background: url('../img/chevron-down.png');
    content: "";
    height: 55px;
    width: 55px;
    background-size: cover;
}

.vide-slider .swiper-button-prev::after {
    display: none;
}

.vide-slider .swiper-button-next::after {
    display: none;
}

#podcast {
    position: relative;
    margin: 40px auto 0;
    background: #FAFAFA;
    padding-top: 70px;
    padding-bottom: 79px;
}

#podcast::before {
    background: url(../img/islamic-lamp.png);
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    top: 0;
    right: 200px;
    width: 380px;
    height: 375px;
}

#podcast .p-title {
    text-align: center;
}

#podcast .p-title h2 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 102%;
    margin-bottom: 30px;
    text-align: center;
    color: #232323;
}

#podcast .p-title p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 102%;
    text-align: center;
    color: #919191;
    margin-bottom: 43px;
}

.swiper-container4 {
    padding-right: 160px !important;
}

.podcast-item {
    background: url(../img/book-g558c2ce9b_1920\ 1.png);
    width: 354.46px;
    background-size: cover;
    height: 483.1px;
    position: relative;
    border-radius: 4.62743px;
    z-index: 1000;
    margin-top: 58px;
}

.podcast-item::after {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 4.62743px;
    z-index: -1;
}

.podcast-item .top-music {
    background: #D60201;
    width: 62.93px;
    height: 62.93px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28px;
    left: 17px;
}


.podcast-item .top-music i {
    color: #fff;
    font-size: 25px;
}

.podcast-item .bottom-dec {
    position: absolute;
    bottom: 0;
    bottom: 21px;
    left: 17px;
}

.podcast-item .bottom-dec .p-t {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 23.1371px;
    line-height: 102%;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.podcast-item .bottom-dec .p-b {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14.8078px;
    line-height: 102%;
    color: #FFFFFF;

}


#galary {
    padding-top: 92px;
    background: #fff;
    background: url(../img/ft.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    padding-bottom: 78px;
}

.g-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 78px;
}


.g-item .g-left h3 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 102%;
    margin-bottom: 30px;
    color: #232323;
}

.g-item .g-left p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 102%;
    color: #919191;
}

.g-row .g-col {
    background: url('../img/Снимок\ экрана\ 2022-03-28\ в\ 09.27\ 2.png');
    width: 420px;
    height: 464.69px;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.g-row .g-col:nth-child(2) {
    background: url('../img/Снимок\ экрана\ 2022-03-28\ в\ 09.26\ 1.png');
}

.g-row .g-col:nth-child(3) {
    background: url(../img/Снимок\ экрана\ 2022-03-28\ в\ 09.27\ 5.png);
}

.g-row .g-col:nth-child(4) {
    background: url(../img/Снимок\ экрана\ 2022-03-28\ в\ 09.27\ 4.png);
}

.g-row .g-col:nth-child(5) {
    background: url(../img/Снимок\ экрана\ 2022-03-28\ в\ 09.27\ 3.png);
}


.g-row .g-col:nth-child(6) {
    background: url(../img/Снимок\ экрана\ 2022-03-28\ в\ 09.27\ 1.png);
}

#blog{
    padding-top: 76px;   
    padding-bottom: 200px;
background: #F9F9F9;
}

.blog-img{
    background: url(../img/quran-gc7ced0b95_1920.png);
    width: 410.51px;
height: 325.81px;
border-radius: 4.50007px;
position: relative;
background-repeat: no-repeat;
}

.blog-img::after{
    position: absolute;
    top: 0;
    content:"";
    width: 100%;
    height:290px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4.50007px;
}

.b-left h3{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 102%;
margin-bottom: 30px;
color: #232323;
}

.b-left p{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 102%;
color: #919191;
}

.blog-post{
    margin-top: 54px;
    position: relative;
}

.blog-detail{
    position: absolute;
    padding-left: 26px;
    bottom: -110px;
    left: 34px;
    width: 376px;
    background: #FFF;
box-shadow: 0px 4.50007px 9.90016px rgba(0, 0, 0, 0.1);
border-radius: 9.00014px 0px 9.00014px 9.00014px;
}

.blog-detail .time{
    position: absolute;
    width: max-content;
    padding: 12px 30px;
    left: 19px;
    top: -25px;
    background: #D60201;
border-radius: 51.3008px;
}

.blog-detail .time span{
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 17.2552px;
line-height: 102%;
color: #FFFFFF;
}

.blog-detail .comment{
    margin-top: 41px;
}

.blog-detail .comment i{
    color: #d60201;
    font-size: 20px;
}

.blog-detail .comment span{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 17.7154px;
line-height: 102%;
margin-left: 8px;
color: #989898;
}

.blog-detail .b-text{
margin-top: 18px;
padding-bottom: 18px;
}

.blog-detail .b-text h5{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 102%;
    color: #232323;
}

.blog-detail .b-text p{
    font-family: 'Quicksand';
font-style: normal;
padding-right: 24px;
margin-bottom: 18px;
margin-top: 11px;
font-weight: 600;
font-size: 14px;
line-height: 102%;
color: #919191;
}

.blog-detail .b-text a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17.7154px;
line-height: 102%;

color: #D60201;
}

.blog-detail .b-text a i{
margin-left: 13px;
    font-size: 13px;

}